[user]
	name = nanakira
	email = nanakira@users.noreply.github.com

[color]
	ui = auto

[core]
	autocrlf = input
	safecrlf = false
	excludesfile = ~/.gitignore

[ghq]
	root = ~/src

[include]
	path = .gitconfig.local

[includeIf "gitdir:00work/**"]
	path = .gitconfig.work
