# Global extension
*.bak

# Editor
*.sublime-project
*.sublime-workspace
*.code-workspace
.vscode/

.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/history
.emacs.d/backup
.emacs.d/places
.emacs.d/.recentf
.emacs.d/ac-comphist.dat

# Local setting
PowerShell/autoload/local.ps1

# Python
venv/
__pycache__/
.pytest_cache/

